#!/usr/bin/make -f


override_dh_dwz:
	#dh_dwz --no-dwz

%:

	dh $@

override_dh_auto_build:
	go build -o /usr/bin/iptables-cli src/main.go

override_dh_install:
	dh_install
	install -D -m 0755 iptables-cli usr/bin/iptables-cli

override_dh_auto_clean:
	rm -f /usr/bin/iptables-cli
